.modal {
    background: transparent;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.modal .inset {
    background: rgba(43, 43, 43, 0.1);
    position: fixed;
    inset: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.modal.open .inset {
    opacity: 1;
}

.modal.open {
    opacity: 1;
}

.modal .content {
    z-index: 20;
    font-family: sans-serif;
    background: #fafafa;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 24px rgba(255, 255, 255, 0.2);
    max-width: 37.5rem;
    width: 100%;
    text-align: center;
    position: relative;
}

.modal .content .titleText {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.modal .content .messageText {
    font-size: 1.2rem;
    margin: 2rem 0;
}

.modal .content button {
    width: 40%;
    padding: 0.75rem;
    margin: 0 5px;
    border: 0;
    border-radius: 0.375rem;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

.modal .content button.cancelButtonText {
    background: #aa3434;
    color: #fff;
}

.modal .content button.confirmButtonText {
    background: #278127;
    color: #fff;
}

@media screen and (max-width: 768px) {

    .modal .content {
        padding: 3rem;
        width: 85%;
    }

    .modal .content .titleText {
        font-size: 1.75rem;
    }

    .modal .content .messageText {
        font-size: 1.1rem;
    }

    .modal .content button {
        width: 45%;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 600px) {

    .modal .content {
        padding: 2rem;
        width: 90%;
    }

    .modal .content .titleText {
        font-size: 1.5rem;
    }

    .modal .content .messageText {
        font-size: 1rem;
    }


}